{% extends 'layout.html.twig' %}

{% block content %}
<div class='tritristart'>
    <img src="https://i.goopics.net/djq5ga.png">
</div>
    <p>Bienvenue sur Trilinga <br/> Choisis ta langue</p>
        <div class='grid'>
            <div><img src= "https://i.goopics.net/afviha.png"></div>
            <div><img src= "https://i.goopics.net/nqn5ke.png"></div>
            <div><img src= "https://i.goopics.net/w5k6pc.png"></div>
        </div>
{% endblock %}
