{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Notre mission ?</h1>

    <p class="mission">Vous faire apprendre les langues de manière ludique 
    accompagné de notre petite mascotte TriTri</p>
    <div class="tritri-about">
    <img  alt="Tritri space smile" src="http://www.image-heberg.fr/files/169945045573590397.png">
    </div>
    <p class="mission">Après un long voyage depuis sa planète Trila,
    TriTri veut se faire plein d’amies. Pour cela,
    il a dû apprendre à parler plein de langues pour rencontrer 
    plein de nouvelles personnes.</p>

    <p class="team">Crée par trois merveilleux développeurs Aude, Paul et Ryad</p>

{% endblock %}

{% block footer %}
  <ul>
    <li><a href="/about">A propos</a></li>
    <li><a href="/login">login</a></li>
  </ul>
{% endblock %}