{% extends 'layout.html.twig' %}

{% block content %}
    <div class="admin-tritri">
        <img src="https://i.goopics.net/djq5ga.png" alt= 'logo trilinga'>
    </div>
    <h1>Admin</h1>
    <div>
        <form>
            <label for="add"></label>
            <input type="text" id="add" name="add" placeholder="Ajouter">
            <br>

            <label for="modif"></label>
            <input type="text" id="modif" name="modif" placeholder="Modifier">
            <br>

            <input type="submit" value="Déconnexion">   
        </form>
    </div>
{% endblock %}

{% block footer %}
    <ul>
        <li><a href="/about">A propos</a></li>
        <li><a href="/">Start</a></li>
    </ul>
{% endblock %}
