{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Admin</h1>
{% endblock %}

{% block footer %}
  <ul>
    <li><a href="/about">A propos</a></li>
    <li><a href="/">Start</a></li>
  </ul>
{% endblock %}