{% extends 'layout.html.twig' %}

{% block content %}
<script> 
 </script>

<div class="tritri-congrat">
    <img src='https://i.goopics.net/hsc7fu.png' alt='tritri content'/>
</div>
<p> Félicitation tu as terminé ce niveau ! </p>
{% endblock %}

{% block javascript %}<script src="assets/main.js"></script>{% endblock %}