{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Connection</h1>
{% endblock %}

{% block footer %}
  <nav>
    <a href="/about">A propos</a>
    <a href="/">Start</a>
  </nav>
{% endblock %}
    
