<nav>
    <ul>
        <li><strong>Trilinga</strong></li>
    </ul>
    <ul>
        <li>
            <details role="list" dir="rtl">
                <summary aria-haspopup="listbox" role="link">
                    <ul role="listbox">
                        <li>
                            {% if language == 1 %}
                                <img src= 'https://i.goopics.net/afviha.png'>
                            {% elseif language == 2 %}
                                <img src= 'https://i.goopics.net/nqn5ke.png'>
                            {% else %}
                                <img src= 'https://i.goopics.net/w5k6pc.png'>
                            {% endif %}
                        </li>
                    </ul>
                </summary>
            </details>
        </li>
        <li><a href="/level"> 
            <div class="icone-maison">
                <img src= "https://i.goopics.net/4ix5cl.png" alt= 'menu home'>
            </div>
        </a></li>
    </ul>
</nav>
