
<nav>
    <ul>
        <li><strong>Trilinga</strong></li>
    </ul>
    <ul>
        <li>
            <details role="list" dir="rtl">
                <summary aria-haspopup="listbox" role="link"><img src= 'https://i.goopics.net/afviha.png'></summary>
                <ul role="listbox">
                    <li><a class= "langueicone"><img src= 'https://i.goopics.net/nqn5ke.png'></a></li>
                    <li><a class= "langueicone"><img src= 'https://i.goopics.net/w5k6pc.png'></a></li>
                </ul>
            </details>
        </li>
        <li><a href="/level"> 
            <div class="icone-maison">
                <img src= "https://i.goopics.net/4ix5cl.png" alt= 'menu home'>
            </div>
        </a></li>
    </ul>
</nav>