{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Quiz</h1>
{% endblock %}

{% block footer %}
  <nav>
    <a href="/about">A propos</a>
    <a href="/login">login</a>
  </nav>
{% endblock %}