{% extends 'layout.html.twig' %}

{% block nav %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
  <ul>
    <li><a href="/about">A propos</a></li>
    <li><a href="/login">login</a></li>
  </ul>
{% endblock %}