/*************** C S S  V A R I A B L E S ****************/
:root{
    --primary-color: #50C6AA;
    --font-color-h1: white;
    --background: #FFFAF4;
    --font-family-h1: "Rokkitt";
    --font-family-autre: "Quicksand";
}

/*********** G O O G L E  F O N T *************/

/* Rokkit */
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:wght@900&display=swap');

/* Quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

/**************** A L L  &  B O D Y ************************/
* {
	margin: 0;
	padding: 0%;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
    border-style: none;
}

.iconetritri {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
} 
img {
    max-width: 10%;
    height: auto;
    border-style: none;
}

h1 {
    color: black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

main form {
    background-color: #50C6AA;
    color: black;
    display: flex;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: large;
    font-weight: bold;
    width: 50%;
    border-radius: 20px;
    margin: auto;
    padding:20px;
}

input{
    border-radius: 20px;
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    text-align: center;
}

input[type=submit]{
    background-color: #F5F5F5;
    color: black;
    border-radius: 20px;
    width: 50%;
    display: flex;
    justify-content: center;
}

input[type="submit"]:hover {
    background-color: #99f4df
}
input#nom, input#motDePasse{
    max-width: 80%;
}

@media screen and (min-width: 0px) and (max-width: 500px) {
    
    main form {
        width: 80%;
     }
}

